:root {
  font-family: Asul, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  
  --vh: 0px;
  --green: #173217;
  --white: #fff;
}

html, body {
  margin: 0;
  padding: 0;
}

html, html * {
  box-sizing: border-box;
}

button {
  /* height: 2rem; */
  background: black;
  color: white;
  padding: 8px 12px;
  font-weight: bold;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  font-family: Asul;
}

input {
  padding: 16px;
  border: 2px solid var(--green);
  background: var(--white);

  &:focus {
    outline: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(0, -20%);
    transform-origin: 50% 50%;
  }

  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
